---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/Deerfield-Green-Vertical-logo-JEPG.jpg';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center gap-2 whitespace-nowrap">
  <Image src={logo} alt="Deerfield Green" width={40} height={40} class="rounded" />
  <span class="text-2xl md:text-xl font-bold text-gray-900 dark:text-white">{SITE?.name}</span>
</span>
